<form action="/user/createaccount" method="post">
  <label for="username">Username</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password1">Password</label><br>
  <input type="text" id="password1" name="password1"><br>
  <label for="password2">Retype the Password</label><br>
  <input type="text" id="password2" name="password2"><br>
  <button type="submit">Create Account</button>
</form>