@model PizzaBox.Domain.Models.User

<h1>Welcome</h1>
<p>Username: @Model.UserName</p>
<p>Selected Store Location: @Model.SelectedLocation.LocationName</p>
<form action="/location/Viewlocations" method="post">
  <input type="hidden" name="uId" value="@Model.Id">
  <button type="submit">Change Location</button>
</form>
<br>
<form action ="/Pizza/orderpizza" method="post">
  <button type="submit">Order a Pizza</button>
  <input type="hidden" name="uId" value="@Model.Id">
</form>