@model PizzaBox.Domain.Models.PizzaMenu


<p>Lets create a pizza</p>

<form action="/pizza/createpizza" method="post">
  <label>Crust:</label><br>
  @foreach (var item in Model.CrustsOnMenu)
  {
      <input type="radio" name="crust" value="">@item.Name;
  }
  <br>
  <div></div>
  <label>Size:</label><br>
  @foreach (var item in Model.SizesOnMenu)
  {
      <input type="radio" id="size"name="size" value="">@item.Name
  }
  <br>
  <div></div>
  <label>Toppings:</label><br>
  @foreach (var item in Model.ToppingsOnMenu)
  {
      <input type="checkbox" id="size" name="topping" value="">@item.Name
  }
  <br>
  <button type ="submit">Create Pizza</button>
</form>