@{

  ViewData["Title"] = "Pizza Page"; 
  Layout = "../Pizza/FrontPizzaLayout.cshtml";
}
  <h1>Pizza Box</h1>

  Username:<br>
  <input type="text" name="username"><br>
  Password:<br>
  <input type="text" name="password"><br>
  <input type="button" value="Log in">

  <p>account information is incorrect or does not exist</p>

  
