<form action="/pizza/orderpizza" method="post">
  <button type="submit" name ="pizza" value="cheesepizza">Cheese Pizza</button>
</form>
<form action="/pizza/orderpizza" method="post">
  <button type="submit" name ="pizza" value="pepperonipizza">Pepperoni Pizza</button>
</form>
<form action="/pizza/orderpizza" method="post">
  <button type="submit" name ="pizza" value="supremepizza">Supreme Pizza</button>
</form>
<form action="/pizza/orderpizza" method="post">
  <button type="submit" name ="pizza" value="veggiepizza">Veggie Pizza</button>
</form>
<form action="/pizza/orderpizza" method="post">
  <button type="submit" name ="pizza" value="custompizza">Custom Pizza</button>
</form>